/* HomePageAnimation.module.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightblue;
  color: black;
  gap: 0.5rem;
}

.animationText {
  transition: opacity 1s ease-in-out; /* Remove opacity property */
}

.hidden {
  opacity: 0;
}
